.contact {
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 50px;
  }
}


.contact__input,
.contact__textarea {
  // height: 50px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-style: inherit;
  transition: border-color 250ms $animation;
 

  &:hover,
  &:focus,
  &:focus,
  &:hover {
    border-color: $pink-clr;
    cursor: pointer;
  }
       
}


.contact__title {
  
  font-weight: 500;
    font-size: 32px;
    line-height: 39px;
  text-align: center;
  color: #2e2520;
}

.contact__text {
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: $brown-clr;
  margin-top: 27px;
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 27px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }
}



.contact__textarea {
  margin-top: 20px;
  margin-bottom: 28px;
}

.contact__form {
  max-width: 336px;
  width: 100%;
  margin: 0 auto;


  @media screen and (min-width: 1280px) {
    min-width: 394px;
  }
}


.contact__form {
  max-width: 336px;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.contact__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 37px;
  }
}

.contact__soc-list {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}


input:invalid {
  border-bottom: 1.5px solid red;
  color: red;
  border: 2px solid red;
}


.button {
  outline: none;
}

.contact__span {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.contact__span-down {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.contact__textarea,
.contact__input {
  font-size: 16px;
  line-height: 1.2;
  color: $brown-clr;
}

.contact__label {
  position: relative;
  transition: border-color 2250ms $animation;

}

.contact__label:focus-within>.contact__span {
  transform: translateY(-20px);
}

.contact__label:focus-within>.contact__span-down {
  transform: translateY(25px);
}

.contact__textarea:not(:placeholder-shown)+.contact__span-down,
.contact__input:not(:placeholder-shown)+.contact__span {
  transform: translateY(-20px);
}

.contact__textarea:not(:placeholder-shown)+.contact__span-down {
  transform: translateY(25px);
}