.footer {
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer__container {
  height: 70px;
  position: relative;

  @media screen and (min-width: 768px) {
    height: auto;
    position: static;
  }

  // @media screen and (min-width: 1280px) {

  // }
}

.footer__item {
  display: flex;
  justify-content: space-between;
}

.footer__svg {
  fill: currentColor;

  @media screen and (min-width: 768px) {
    display: none;
  }

  // @media screen and (min-width: 1280px) {
  // }
}

.footer__map,
.footer__phone {
  font-style: normal;
  line-height: 1.25;
  transition: color 250ms $animation;

  &:hover,
  &:focus,
  &:focus,
  &:hover,
  &:active {
    color: $pink-clr;
  }
}

.footer__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
