*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(180.11deg,
      #e5e2e3 10.73%,
      #fdfefe 38.02%,
      #e5e2e3 71.11%,
      #fdfefe 99.91%);

    
}

.invisible {
  position: absolute;
  width: 0px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transparent {
  transform: scale(0);
}


body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: $brown-clr;
  background-color: $bg-clr;
  margin: 0;
  

  background-image:
      url("/image/bbbb.png"),
      url("/image/bbbb.png"),
      url("/image/ccccc.png"),
      url("/image/bubl-hero.png"),
      url("/image/aaa.png");
  
    background-repeat: no-repeat;
    background-position: left -15px top 1830px,
      left -40px top 930px,
      right -30px top 1220px, left -25px top 750px,
      right -20px top 500px;
  

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
